node_modules
dist
dist-ssr
*.local

.DS_Store

.env*

.vscode/*
!.vscode/extensions.json
.idea

*.log

*.tsbuildinfo

# playwright
test-results/
playwright-report/
playwright/.cache/
.vercel

claude.md